<!DOCTYPE html>
<html>
  <head>
    <title>CrudExample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# https://api.rubyonrails.org/classes/ActionDispatch/Flash.html %>
    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <div class="<%= key %>"><%= value %></div>
        <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
