<%#  app/views/books/index.html.erb %>
<%# ... %>
<% @books.each do |book| %>
  # Создаются закешированные фрагменты
  <%# https://apidock.com/rails/v4.0.2/ActionView/Helpers/CacheHelper %>
  <% cache book do %>
  <%# cache_if cond, book do %>
  <%# cache_unless cond, book do %>
  <tr>
    <td><%= book.title %></td>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
<% end %>
<%# ... %>

<%# Кеширование паршалла %>
<tbody>
  <%= render partial: 'books/books_list', collection: @books, cached: true %>
</tbody>
